<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- Multiple formats in a single tag -->
          <Format>cobertura,opencover,json,lcov</Format>
          
          <!-- Exclude assemblies/namespaces -->
          <Exclude>[*.Tests]*,[*.Tests?]*</Exclude>
          
          <!-- Exclude by file path (use ** for recursive) -->
          <ExcludeByFile>**/Migrations/**/*.cs</ExcludeByFile>
          <ExcludeByFile>**/Program.cs</ExcludeByFile>
          <ExcludeByFile>**/Startup.cs</ExcludeByFile>

          <!-- <ExcludeByFile>**/DataAccessLayer/MongoDbContext.cs</ExcludeByFile> -->
          
          <!-- Exclude by attribute -->
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          
          <!-- Include only your main project -->
          <Include>[FormBuilderAPI]*</Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
